<ul
  class="navbar-nav justify-content-between bg-primary p-2 mx-auto d-flex flex-row w-100"
>
  <div
    *ngIf="loggedUser"
    class="d-flex flex-row justify-content-between align-items-center w-10 ps-5"
  >
    <li class="nav-item text-primary">
      <a class="text-decoration-none text-primary" routerLink="/home/feed">
        <i class="bi bi-house fs-3"></i>
      </a>
    </li>
    <li class="nav-item text-primary position-relative" style="cursor: pointer">
      <i class="bi bi-person fs-3" (click)="toggleProfileMenu()"></i>
      <div
        class="position-absolute bg-light shadow rounded p-2"
        [ngClass]="{
          'd-none': !isProfileMenuOpen,
          'd-block': isProfileMenuOpen
        }"
        style="top: 100%; min-width: 150px; z-index: 1050"
      >
        <button
          class="btn btn-light w-100 text-start"
          (click)="goToProfile(loggedUser?.id)"
        >
          View Profile
        </button>
        <button class="btn btn-light w-100 text-start" (click)="logout()">
          Logout
        </button>
      </div>
    </li>
    <li class="nav-item text-primary" style="cursor: pointer">
      <i class="bi bi-shop fs-3"></i>
    </li>
  </div>
  <div class="d-flex flex-row justify-content-end align-items-center w-50 pe-3">
    <li class="nav-item justify-content-center position-relative">
      <button
        *ngIf="loggedUser !== null"
        [ngClass]="friendRequestCounter > 0 ? 'active' : 'disabled'"
        type="button"
        class="btn btn-primary border-0 position-relative"
        (click)="isCollapsed = !isCollapsed"
        (click)="getFriendRequests()"
      >
        <i class="bi bi-person-fill"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-secondary"
        >
          {{ friendRequestCounter }}
          <span class="visually-hidden">friend requests</span>
        </span>
      </button>
      <div
        class="position-absolute start-50 translate-middle-x mt-2 bg-white shadow rounded p-2 justify-content-between"
        [ngClass]="{
          'd-none': !isCollapsed || friendRequestCounter === 0,
          'd-block': isCollapsed || friendRequestCounter > 0,
        }"
        style="top: 100%; min-width: 300px; z-index: 1050"
      >
        <div class="d-flex flex-column mb-2 justify-content-between w-100">
          <mat-list-item
            *ngFor="let request of friendRequestList; trackBy: trackByUser"
            class="d-flex flex-row"
          >
            <div class="d-flex flex-row">
              <p>{{ request.user.firstName }} {{ request.user.lastName }}</p>
              <div class="d-flex justify-content-between w-50">
                <button
                  class="btn btn-success btn-sm"
                  (click)="acceptFriendship(request)"
                >
                  Accept
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="declineFriendship(request.user.id)"
                >
                  Decline
                </button>
              </div>
            </div>
          </mat-list-item>
        </div>
        <button
          class="btn btn-danger btn-sm w-100"
          (click)="isCollapsed = false"
        >
          Close
        </button>
      </div>
    </li>
    <li *ngIf="loggedUser" class="nav-item pe-5 ms-4" style="cursor: pointer">
      <i
        class="bi bi-search fs-3 text-primary"
        (click)="toggleSearch()"
        #searchIcon
      ></i>
    </li>

    <div
      class="d-flex flex-row input-group-sm justify-content-center align-items-center position-relative ms-n1 me-n3"
      *ngIf="showSearch"
      [@fadeInOut]
    >
      <input
        type="tel"
        matInput
        placeholder="Search"
        name="search"
        style="color: white; background-color: transparent"
        [(ngModel)]="search"
        #filter
        (keyup)="filterResults(filter.value)"
        autocomplete="off"
        class="form-control border-0 position-relative w-100"
      />
      <button matSuffix mat-button (click)="filterResults(filter.value)">
        <i class="bi bi-search fs-3 text-primary"></i>
      </button>
      <mat-nav-list
        class="search-suggestions position-absolute top-50 start-0 w-100 mt-3"
        *ngIf="filteredUsers && filteredUsers.length > 0"
      >
        <mat-list-item
          *ngFor="let user of filteredUsers; trackBy: trackByUser"
          (click)="goToUserProfile(user.id)"
        >
          <h4 mat-line>{{ user.firstName }} {{ user.lastName }}</h4>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</ul>
