nav {
  margin: 0;
  padding: 0;
  background-color: #fca311;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

ul {
  margin: 0;
  padding: 0;
}

.tabs {
  display: flex;
  margin-block-start: 0;
  flex-direction: row;
  background-color: #14213d;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: auto;
  width: 30%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
}

.tabs li {
  text-decoration: none;
  list-style: none;
  color: white;
}

svg:hover {
  cursor: pointer;
}

svg:hover path {
  fill: #f8a862;
}

svg path {
  transition: fill 0.3s ease;
}

.search-component {
  display: flex;
  flex-direction: column;
  color: white;
  width: 90%;
}

.search-suggestions {
  width: 15rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #14213d8a;
  top: 80%;
}

.search-icon {
  color: white;
}

.search-component input::placeholder {
  color: white;
  opacity: 1;
}
