/* .container {
  margin-top: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.post {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: white;
} */
