<div class="container" #chatContainer>
  <div class="top-container">
    <h3>
      {{ selectedFriend?.friend?.firstName }}
      {{ selectedFriend?.friend?.lastName }}
    </h3>
  </div>
  <mat-divider></mat-divider>
  <div class="bottom-container">
    <div class="message-list" #messageList>
      <div *ngFor="let message of messages">
        <div
          [ngClass]="{
            'sent-message': message.sender.id === loggedUser?.id,
            'received-message': message.sender.id !== loggedUser?.id
          }"
        >
          <p>{{ message.content }}</p>
        </div>
      </div>
    </div>
    <div class="bottom-input-container">
      <input
        type="text"
        [(ngModel)]="newMessage"
        placeholder="Type a message..."
        class="bottom-input"
      />
      <button (click)="sendMessage()">Send</button>
      <button (click)="fileInput.click()">
        <mat-icon>add</mat-icon>
      </button>
      <input
        #fileInput
        type="file"
        (change)="onFileSelected($event)"
        style="display: none"
      />
    </div>
  </div>
</div>

<div *ngIf="!selectedFriend" class="no-friend">
  <p>Please select a friend to start chatting.</p>
</div>
