.container {
  box-sizing: border-box;
  height: 60vh;
  background-color: white;
  border-left: 1px solid rgba(128, 128, 128, 0.247);
  box-shadow: 0px 2px 5px -2px #888;
  position: sticky;
  bottom: 0;
  width: 450px;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 15.5%;
  z-index: 1;
}

.message-list::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.bottom-container,
.message-list {
  overflow-x: hidden;
}

.top-container {
  display: flex;
  align-items: center;
  height: 15%;
  padding-left: 5%;
  width: 100%;
}

.bottom-container {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

p {
  color: white;
}

.received-message {
  display: inline-block;
  align-items: center;
  word-wrap: break-word;
  margin-bottom: 3%;
  margin-left: 3%;
}

.received-message p {
  width: fit-content;
  background-color: #f8a862;
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 10px;
}

.sent-message {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 3%;
  word-wrap: break-word;
}

.sent-message p a,
.received-message p a {
  color: white;
  text-decoration: none;
}

.sent-message img {
  width: 100px;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px;
  border-radius: 15%;
  margin-right: 5%;
}

.sent-message google-map {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px;
  border-radius: 15%;
  margin-right: 5%;
}

.received-message img {
  display: inline-block;
  width: fit-content;
  padding: 10px;
  border-radius: 15%;
  width: 100px;
  margin-left: -3%;
}
.received-message google-map {
  display: inline-block;
  width: fit-content;
  padding: 10px;
  border-radius: 15%;
  width: 100px;
  margin-left: -3%;
}

.sent-message p {
  width: fit-content;
  background-color: #454851;
  margin-left: auto;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  max-width: 80%;
  margin-right: 5%;
}

.message-list {
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.bottom-input-container {
  display: flex;
  width: 100%;
  gap: 5px;
  box-sizing: border-box;
}

.bottom-input {
  margin-left: 2%;
  margin-bottom: 2%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex: 7;
  min-width: 0;
}

.bottom-input-container button {
  padding: 10px 15px;
  background-color: #f8a862;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  flex: 1;
  min-width: 0;
  text-align: center;
}

.bottom-input-container button:hover {
  background-color: #e89557;
}
