/* .container {
  display: flex;
  height: 100vh;
  top: 4.7em;
  position: fixed;
  width: 15%;
}

.left-panel {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-right: 1px solid rgba(128, 128, 128, 0.247);
  height: 100vh;
  box-shadow: 2px 0 5px -4px #888;
  position: relative;
  background-color: white;
}

.left-panel .left-navigator {
  margin-bottom: 1em;
  transition: all 0.5s;
  border-radius: 10px;
}

.left-navigator:first-of-type {
  margin-top: 1em;
}

.left-navigator {
  display: flex;
  height: 2em;
  align-items: center;
  padding-left: 1em;
}

.left-panel .left-navigator a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  transition: color 0.5s;
}



.left-navigator a svg {
  width: 24px;
  height: 24px;
  margin-right: 1em;
}

.left-navigator a svg path {
  fill: #0c0c0c67;
} */

.left-navigator:hover {
  background-color: #14213d;
  border-radius: 10px;
}

.left-navigator:hover a {
  color: white !important;
  user-select: none;
}

.left-navigator:hover a svg path {
  fill: white;
}

.h-100 {
  height: 100vh !important;
}
