.container {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  height: 100%;
}

.sidebar,
.feed,
.friendlist {
  height: 100%;
  background-color: #f0f0f0;
}

.sidebar,
.friendlist {
  flex-basis: 15%;
  background-color: #f0f0f0;
}

.feed {
  flex-basis: 70%;
  flex-grow: 1;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .sidebar,
  .friendlist {
    flex-basis: 20%;
  }

  .feed {
    flex-basis: 60%;
  }
}
