.container {
  display: flex;
  height: 100vh;
  position: fixed;
  width: 100vw;
  background-color: whitesmoke;
}

.sidebar,
.feed,
.friendlist {
  height: 100%;
}

.sidebar,
.friendlist {
  flex-basis: 15%;
  background-color: #f0f0f0;
}

.feed {
  flex-basis: 70%;
  background-color: #ffffff;
}
