<div class="container">
  <div class="top-container">
    <img [src]="user?.picture" alt="" class="profile-photo" />
    <h2 class="name">{{ user?.firstName }} {{ user?.lastName }}</h2>
    <div *ngIf="areAlreadyFriends(); else elseBlock">
      <button class="btn btn-primary disabled border-0">Friends ✅</button>
    </div>
    <ng-template #elseBlock
      ><button
        *ngIf="loggedUser?.id !== userId"
        class="btn btn-primary border-0"
        (click)="requestFriend()"
      >
        Add friend
      </button></ng-template
    >

    <button
      class="btn btn-primary border-0"
      *ngIf="loggedUser?.id === userId"
      data-bs-toggle="modal"
      data-bs-target="#editProfileModal"
    >
      <i class="bi bi-pencil-square"></i> Edit profile
    </button>
    <div
      class="modal fade"
      id="editProfileModal"
      tabindex="-1"
      aria-labelledby="editProfileModalLabel"
      aria-hidden="true"
      #editProfileModal
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (submit)="saveProfile()">
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  *ngIf="user"
                  [(ngModel)]="user.firstName"
                  name="firstName"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  *ngIf="user"
                  [(ngModel)]="user.lastName"
                  name="lastName"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  *ngIf="user"
                  [(ngModel)]="user.email"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="profilePicture" class="form-label"
                  >Profile Picture</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="profilePicture"
                  (change)="onFileSelected($event)"
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="post-header">Posts</h2>
  <div class="posts">
    <div *ngIf="posts.length === 0" class="no-posts">
      <p>No posts available.</p>
    </div>
    <div *ngFor="let post of posts" class="post">
      <p>
        {{ post.body }}
      </p>
      <h4>{{ post.relativeTime }}</h4>
    </div>
  </div>
</div>
