/* .container {
  box-sizing: border-box;
  height: 100vh;
  background-color: white;
  border-left: 1px solid rgba(128, 128, 128, 0.247);
  box-shadow: 0px 2px 5px -2px #888;
  position: sticky;
  top: 4.7em;
  width: 15%;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  align-self: center;
}

.container h2 {
  text-align: center;
  margin-bottom: 1em;
} */

/* .friend:first-of-type {
  border-top: 1px solid rgba(128, 128, 128, 0.329);
}

.friend {
  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
} */
/* 
.friend h3 {
  padding: 1em;
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding-left: 1em;
} */
