html,
body {
  height: 100%;
  margin: 0;
}

.container {
  padding-top: 10px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.5em;
  min-height: 100vh;
}

.new-post {
  width: 80%;
}

.post-list {
  width: 80%;
}
